<%- include('partials/header'); -%>

    <%- include('partials/footer'); -%>
        <html>

        <head>
            <title></title>
        </head>

        <body>
            Hello World
        </body>

        </html>